
<%- include('include/header'); -%>


<div class="card">
    <div class="table-responsive">
      <table id="example" class="table align-items-center mb-0">
        <thead>
          <tr>
            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Id</th>
            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">First name</th>
            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ">Mast name</th>
            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Email</th>
            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Phone No</th>
          </tr>
        </thead>
        <tbody>

<!-- @foreach ($users as $user) -->

            <% clients.forEach(function(client){ %>
               
          <tr>
            <td class="align-middle text-center">
                <h6 class="mb-0 text-xs"><%= client.id %></h6>
            </td>
              
            <td class="align-middle text-center">
                <h6 class="mb-0 text-xs"><%= client.nom %></h6>
            </td>

            <td class="align-middle text-center">
                <h6 class="mb-0 text-xs"><%= client.prenom %></h6>
            </td>

            <td class="align-middle text-center text-sm">
                <p class="text-xs text-secondary mb-0"><%= client.email %></p>
            </td>

            <td class="align-middle text-center">
              <span class="text-secondary text-xs font-weight-bold"><%= client.tele %></span>
            </td>

          </tr>

          <% }); %>

        </tbody>
      </table>
      
    </div>
  </div>
 
    

<%- include('include/footer'); -%>